<!DOCTYPE html>
<html>
<script type="text/javascript">

var ws_port = '{{ ws_port }}'
var socket = new WebSocket(`ws://${window.location.hostname}:${ws_port}/${window.location.pathname}`)

var mtime = 0;

socket.onmessage = function(event) {
    var resp = JSON.parse(event.data)

    if (resp.type == 'mtime' && resp.time != mtime) {
        mtime = resp.time;
        socket.send(JSON.stringify({type: 'markdown', path: window.location.pathname}))
    } else if(resp.type == 'markdown') {
        document.getElementById("markdown").innerHTML = resp.html;
    }
};

function check_mtime() {
    socket.send(JSON.stringify({type: 'mtime', path: window.location.pathname}))
}

setInterval(check_mtime, 250)

</script>
{{ style }}
</html>
